<footer>
    <div class="content" id="footer">
        <div id="criadores" class="col">
            <h4>Criadores</h4>
            <ul>
                <li>Jhonny Cunha Simoes</li>
                <li>Daniel Sampaio Silva</li>
                <li>Caio Levi Mendes Costa</li>
                <li>Euclides Veras da Cunha</li>
                <li>Luiz Gabriel Ribeiro Gonzaga da Silva</li>
            </ul>
        </div>
        <div id="contato" class="col">
            <img src="../images/logo.svg" alt="Krip Store" id="footer-logo" />

            <div class="footer-links">
                <div id="redes-sociais">
                    <a href=""
                        ><img
                            src="../images/instagram-logo.svg"
                            alt="instagram"
                    /></a>
                    <a href=""
                        ><img src="../images/facebook-logo.svg" alt="facebook"
                    /></a>
                    <a href=""
                        ><img src="../images/twitter-logo.svg" alt="twitter"
                    /></a>
                </div>
                <p>© 2022 dressmart.com LLC. ALL RIGHTS RESERVED.</p>
            </div>
        </div>
        <div id="info" class="col">
            <h4>Info</h4>
            <ul>
                <li><a href="" class="info-links">Sobre Nós</a></li>
                <li><a href="" class="info-links">Guia de Tamanho</a></li>
                <li><a href="" class="info-links">Trocas e Devoluções</a></li>
                <li><a href="" class="info-links">FAQ</a></li>
                <li><a href="" class="info-links">Central de Ajuda</a></li>
            </ul>
        </div>
    </div>
</footer>
