<footer>
  <div class="container-fluid">
    <div id="footer-text" class="position-relative text-center col-12 py-3">
      <div
        id="footer-instagram"
        class="font-lato fw-normal text-dark text-capitalize position-absolute top-0 start-50 translate-middle"
      >
        <span>Follow our Instagram:</span>
        <span class="fw-bold">@krip.store</span>
      </div>
      <ul
        class="nav col-12 col-md-auto py-5 justify-content-center mb-md-0 alin"
      >
        <li class="nav-item">
          <a
            href=""
            class="nav-link px-2 font-lato fw-bolder header-font text-uppercase text-light"
            >Men</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link px-2 font-lato fw-bolder header-font text-uppercase text-light"
            >Women</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link px-2 font-lato fw-bolder header-font text-uppercase text-light"
            >Kids</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link px-2 font-lato fw-bolder header-font text-uppercase text-light"
            >Collection</a
          >
        </li>
        <li class="nav-item">
          <a
            href=""
            class="nav-link px-2 font-lato fw-bolder header-font text-uppercase text-light"
            >Trends</a
          >
        </li>
      </ul>
      <span class="font-lato fw-normal text-light text-capitalize y-3"
        >© 2022 KRIP. All Right Reserved</span
      >
    </div>
  </div>
</footer>
