<header>
    <div class="content" id="header">
        <img id="logo" src="../images/logo.svg" alt="Logo">
        <div id="search-box">
            <input type="text" placeholder="Buscar produtos" id="search-bar">
            <img id="search-icon" src="../images/search-icon.svg" alt="Lupa">
        </div>
        <a href="/login" class="">Login</a>
        <a href="/signup" class="">Sign Up</a>
    </div>
</header>