<nav>
    <div class="content" id="nav">
        <ul>
            <li><a href="" class="nav-links">Home</a></li>
            <li><a href="" class="nav-links">Lançamentos</a></li>
            <li><a href="" class="nav-links">Ofertas</a></li>
            <li><a href="" class="nav-links">Camisas</a></li>
            <li><a href="" class="nav-links">Moletons</a></li>
            <li><a href="" class="nav-links">Calças</a></li>
            <li><a href="" class="nav-links">Acessórios</a></li>
            <li><a href="" class="nav-links">Sobre Nós</a></li>
        </ul>
    </div>
</nav>