<nav>
    <div class="content" id="nav">
        <ul>
            <li><a href="" class="nav-links">Home</a></li>
            <li><a href="" class="nav-links">Releases</a></li>
            <li><a href="" class="nav-links">Offers</a></li>
            <li><a href="" class="nav-links">Shirts</a></li>
            <li><a href="" class="nav-links">Sweatshirts</a></li>
            <li><a href="" class="nav-links">Pants</a></li>
            <li><a href="" class="nav-links">Accessories</a></li>
            <li><a href="" class="nav-links">About Us</a></li>
        </ul>
    </div>
</nav>