<div class="col-5">
    <div class="card comment-card">
        <div class="card-body">
            <h4 class="card-title font-lato fw-bolder text-dark">Comfortable and met all my expectations! I ordered a medium and it fit perfectly</h5>
            <p class="card-text font-lato fw-bolder text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacus, auctor pretium ac ultrices. Dui lacus dignissim tincidunt urna, at enim tempo. Pellentesque amet Lorem ipsum dolor sit amet, </p>
        </div>
        <div class="card-footer bg-transparent">
            <img class="img-thumbnail rounded-circle" src="./images/empty.svg" alt="" width="76" height="76">
            <h5 class="comment-username font-lato fw-bold text-dark text-capitalize">Anisa Zahra</h6>
            <h6 class="comment-user-title font-lato fw-bold text-muted text-capitalize">Founder milenial</h6>
        </div>
    </div>
</div>