<!DOCTYPE html>
<html>
  <head>
    <title>Frog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Frog</h1>
    <p>Welcome to strawberry</p>
    <a href=<%= hrefI %> <button> <%= messageIndex %> </button></a> <br>
    <a href="/logado">Entre aqui, página que só dá pra entrar logado</a>
  </body>
</html>