<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Lato&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/bootstrap.css">
    <!-- <link rel="stylesheet" href="../styles/bootstrap-grid.css"> -->
    <link rel="stylesheet" href="../styles/mainlanding.css">
    <link rel="stylesheet" href="../styles/form.css">

    <script src="../scripts/popper.min.js"></script>
    <script src="../scripts/bootstrap.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <title>Login</title>
</head>

<body>
    <%- include('partials/header', {user}); %>


        <main>
            <div class="content" id="main">
                <form action="/login" method="post" class="justify-self-center">
                    <h1>
                        <%= log %>
                    </h1>
                    <div class="form-inputs">
                        <input type="email" name="email" id="emailInput" placeholder="Email" required />
                        <input type="password" name="password" id="passwordInput" placeholder="Password" required />
                    </div>
                    <!-- <div class="g-recaptcha" data-sitekey="6Lds1JUiAAAAAADqnGGWtLc_hf7aZbDgzowOQiM-"></div> -->

                    <div class="form-options">
                        <input id="login-button" type="submit" value="Entrar" />
                        <div>
                            <a href="/recover">Forgot password?</a>
                            <a href="/signup">Create account</a>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <%- include('partials/footer', {}); %>
</body>

</html>