<div class="card">
    <img src="./images/empty.svg" alt="" class="card-img-top">
    <div class="card-body">
        <span id="card-rate">
            <i class="bi bi-star-fill card-rate-star"></i>
            <i class="bi bi-star-fill card-rate-star"></i>
            <i class="bi bi-star-fill card-rate-star"></i>
            <i class="bi bi-star-fill card-rate-star"></i>
            <i class="bi bi-star-half card-rate-star"></i>
        </span>
        <h5 class="card-title font-frank fw-bold text-dark text-capitalize my-3">Pastel Long Sleeve</h5>
        <p class="card-text fs-6">
            <span class="text-decoration-line-through text-muted me-3">R$220</span>
            <span class="font-lato fw-bold text-dark">RS140</span>
        </p>
    </div>
</div>