main{
    background-color: var(--black);
    background-image: url('../images/asfalt-light-texture.png');
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 360px;
    height: 55%;
    min-height: 320px;
    padding: 32px;
    gap: 16px;
    background-color: var(--white);
}

form input[type='email'], 
form input[type='password'], 
form input[type='submit']{
    height: 48px;
    padding: 4px 16px;
    font-size: 0.8em;
    color: var(--black);
    background-color: var(--light-gray);
}

form input[type='submit']{
    background-color: var(--salmon);
    color: var(--white);
    font-weight: 600;
    margin-top: auto;
    font-size: 1em;
    cursor: pointer;
    transition: all ease 0.2s;
}

form input[type='submit']:hover{
    background-color: #d68268;
}

form div {
    display: flex;
    justify-content: space-between;
}

form div a{
    text-decoration: none;
    color: var(--dark-gray);
    transition: all ease 0.2s;
}

form div a:hover{
    text-decoration: underline;
}