.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 80vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 80%;
  max-width: 360px;
  height: 55%;
  min-height: 320px;
  padding: 32px;
  background-color: white;
  border-radius: 10px;
  gap: 20px;
  margin-top: auto;
}

form input {
  border-bottom: 1px solid black;
}

form input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}

form input {
  height: 48px;
  font-size: 0.8em;
}

form input[type="submit"] {
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
  transition: all ease 0.2s;
  border: 1px solid black;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-options {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form div {
  display: flex;
  justify-content: space-between;
}

form div a {
  text-decoration: none;
  color: var(--dark-gray);
  transition: all ease 0.2s;
}

form div a:hover {
  text-decoration: underline;
  color: black;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: auto;
}