:root{
    --black: #463F3A;
    --dark-gray: #8A817C;
    --light-gray: #BCB8B1;
    --white: #F4F3EE;
    --salmon: #E0AFA0;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
}

.content{
    width: 90%;
    height: 100%;
    display: inherit;
    margin: 0 auto;
}

#header-navbar{
    width: 100%;
    position: sticky;
}

main {
    width: 100%;
    height: calc(100vh - 18vh);
}