* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: linear-gradient(
    180deg,
    #e5e5e5 0%,
    #a5a5a5 0.01%,
    rgba(229, 229, 229, 0) 100%
  );
}

.svg-icon {
  width: 2.5em;
  height: 2.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: white;
  stroke-width: 1;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1050px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: calc(1440px - (151px * 2));
  }
}

header {
  padding-top: 65px;
}

.font-lato {
  font-family: "Lato";
  font-style: normal;
}

.header-font {
  line-height: 19px;
  letter-spacing: 0.115em;
  font-weight: 900;
  font-size: 1em;
}

#krip-logo {
  width: fit-content;
}

input[type="submit"],
#login-button,
.form-button {
  background-color: transparent;
  border-color: black;
  border-radius: 2px;
  padding: 8px 24px;
}

input[type="submit"]:hover,
#login-button:hover,
.form-button:hover {
  background-color: black;
  border-color: black;
  color: #fff;
}

#cart {
  transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  -webkit-transition: all ease 300ms;
}

#cart:hover {
  transform: translateY(-2px);
}

#cart span {
  font-size: 8px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link.active {
  text-decoration: underline;
}

main {
  margin-top: 64px;
}

footer {
  background-color: #777777;
  color: white;
  text-align: center;
}

.footer-upper {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.bottom-map {
  flex: 1;
}

.contact-us {
  flex: 1;
}

.help {
  flex: 1;
}

.about-us {
  flex: 1;
}

.footer-upper ul {
  padding: 0;
  margin: 0;
}

.footer-upper ul li {
  list-style: none;
  margin-top: 30px;
}

.footer-upper ul li a {
  list-style: none;
  color: white;
  text-decoration: none;
}

.footer-bottom {
  background-color: #4d4d4d;
}

.social-medias {
  display: flex;
  justify-content: center;
  padding: 20px ;
  gap: 20px;
}

.contact-us button {
  width: 250px;
  color: white;
  padding: 10px;
  background-color: #777777;
  border: 1px solid white;
}

.contact-us button:hover {
  background-color: black;
  border: 1px solid black;
  color: white;
}

#footer-img img {
  padding: 0;
}

#footer-text .nav-link {
  /* font-size: 16px;
    line-height: 19px; */
  font-size: 1em;
  line-height: 118.75%;
  letter-spacing: 0.115em;
}

#footer-text > span:last-child {
  /* font-size: 14px;
    line-height: 32px; */
  font-size: 0.875em;
  line-height: 229%;
  opacity: 0.67;
}
