body, header {
    background-color: white;
}

main {
    margin-bottom: 12%;
}

.amount-wrapper {
    width: 10em;
}

.amount-wrapper .btn {
    width: 2em;
}

.amount-wrapper input {
    width: 6em;
}

.calcular-frete {
    width: 16em;
}

.calcular-frete input::placeholder {
    color: #ffc107;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number] {
    border-radius: 0;
}