.input-wrapper {
    width: 85%;
    height: 60px;
    margin-bottom: 64px;
}

.input-wrapper input {
    background-color: white;
    /* box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.4); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    outline: none;
    border-radius: 16px;
}

.filter-item {
    background: white;
    padding: 1.5em;
    border-radius: 0.375em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(12, 12, 12, 0.25) !important;
}

.form-check-input:checked {
    background: rgb(33, 37, 41);
    border-color: rgb(33, 37, 41);
}

.form-range::-webkit-slider-thumb {
    background: rgb(33, 37, 41);
}

.form-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 0.25rem rgba(12, 12, 12, 0.25) !important;
}

.form-range::-webkit-slider-thumb:active {
    background: rgba(12, 12, 12, 0.4);
    border: 1px solid white;
}

.form-range::-moz-range-thumb {
    background: rgb(33, 37, 41);
}

.form-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 0.25rem rgba(12, 12, 12, 0.25) !important;
}

.form-range::-moz-range-thumb:active {
    background: rgba(12, 12, 12, 0.4);
    border: 1px solid white;
}


.product-card {
    margin-bottom: 2em;
}

.product-card img {
    height: 15em;
}

.product-card {
    /* background-color: #dee2e6; */
    /* box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3); */
    border: 0;

    transition: all ease 300ms;
    -o-transition: all ease 300ms;
    -moz-transition: all ease 300ms;
    -webkit-transition: all ease 300ms;
}