<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/signup.css">

    <title>Sign Up</title>
</head>
<body>

    <div id="header-nav">
        <header>
            <div class="content" id="header">
                <img id="logo" src="../images/logo.svg" alt="Logo">
                <div id="search-box">
                    <input type="text" placeholder="Buscar produtos" id="search-bar">
                    <img id="search-icon" src="../images/search-icon.svg" alt="Lupa">
                </div>
                <a href="login.html">Login</a>
                <a href="signup.html">Sign Up</a>
            </div>
        </header>
    
        <nav>
            <div class="content" id="nav">
                <ul>
                    <li><a href="" class="nav-links">Home</a></li>
                    <li><a href="" class="nav-links">Lançamentos</a></li>
                    <li><a href="" class="nav-links">Ofertas</a></li>
                    <li><a href="" class="nav-links">Camisas</a></li>
                    <li><a href="" class="nav-links">Moletons</a></li>
                    <li><a href="" class="nav-links">Calças</a></li>
                    <li><a href="" class="nav-links">Acessórios</a></li>
                    <li><a href="" class="nav-links">Sobre Nós</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <main>
        <div class="content" id="main">
            <form action="/signup" method="post">
                <h1><%= reg %></h1>
                <input type="email" name="email" placeholder="Email" />
                <input type="text" name="username" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
                <input type="password" name="confirmPassword" placeholder="Password" />
                <input type="submit" value="CADASTRAR" />
                <a href="/login">Já possui conta? Faça login.</a>
            </form>
        </div>
    </main>

    <footer>
        <div class="content" id="footer">
            <div id="criadores" class="col">
                <h4>Criadores</h4>
                <ul>
                    <li>Jhonny Cunha Simoes</li>
                    <li>Daniel Sampaio Silva</li>
                    <li>Caio Levi Mendes Costa</li>
                    <li>Euclides Veras da Cunha</li>
                    <li>Luiz Gabriel Ribeiro Gonzaga da Silva</li>
                </ul>
            </div>
            <div id="contato" class="col">
                <img src="../images/logo.svg" alt="Krip Store" id="footer-logo">
                <p for="footer-logo">Krip Store</p>
                <div id="redes-sociais">
                    <a href=""><img src="../images/instagram-logo.svg" alt="instagram"></a>
                    <a href=""><img src="../images/facebook-logo.svg" alt="facebook"></a>
                    <a href=""><img src="../images/twitter-logo.svg" alt="twitter"></a>
                </div>
                <p>© 2022 dressmart.com LLC. ALL RIGHTS RESERVED.</p>
            </div>
            <div id="info" class="col">
                <h4>Info</h4>
                <ul>
                    <li><a href="" class="info-links">Sobre Nós</a></li>
                    <li><a href="" class="info-links">Guia de Tamanho</a></li>
                    <li><a href="" class="info-links">Trocas e Devoluções</a></li>
                    <li><a href="" class="info-links">FAQ</a></li>
                    <li><a href="" class="info-links">Central de Ajuda</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
